@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

@layer components {
  .button {
    @apply py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-700;
  }

  .input {
    @apply py-2 px-4 border border-gray-300 rounded-md;
  }

  .label {
    @apply block text-gray-700 text-sm font-bold mb-2;
  }

  .card {
    @apply bg-white shadow-md rounded-md p-4;
  }

  .header {
    @apply bg-blue-500 text-white p-4 rounded-t-md;
  }

  .footer {
    @apply bg-blue-500 text-white p-4 rounded-b-md;
  }
}

@layer utilities {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #666 #fff;
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #fff;
  }
}